@model IEnumerable<OnlineWardrobe.Models.WardrobeItem>

<h2 id="heading">
    Wardrobe
</h2>


    @foreach (var item in Model)
    {
        <div class="row container aboutT3">
            <div class="img-thumbnail col-md-4">
                <h4 id="itemName">@Html.DisplayFor(modelItem => item.Name)</h4>
                <p><a href="@Url.Action("Details", new { id = item.ItemID })"><img id="itemImageIndex" class="img-responsive" src="@Html.DisplayFor(modelItem => item.Photo)" /></a></p>
            </div>
            <div class="col-md-2 indexColor">
                <p class="glyphicon glyphicon-stop" style="color:@Html.DisplayFor(modelItem => item.ItemColor.Color)"></p> @Html.DisplayFor(modelItem => item.ItemColor.Color)
            </div>
            <div class="col-md-6">
                <h5>Description:</h5>
                <p>Lorem ipsum dolor sit amet, mazim utroque cu mei. Eum no quod purto congue, aeterno nusquam atomorum id ius. Ex nec inani honestatis cotidieque, at est nonumes dissentiunt...<a href="@Url.Action("Details", new { id = item.ItemID })"> more&raquo;</a></p>
            </div>
        </div>
    }
