<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closet Organizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" )><img style="width:80px;" src="~/Content/images/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Wardrobe", "Index", "WardrobeItems")</li>
                    <li>@Html.ActionLink("Tops", "Tops", "WardrobeItems")</li>
                    <li>@Html.ActionLink("Bottoms", "Bottoms", "WardrobeItems")</li>
                    <li>@Html.ActionLink("Shoes", "Shoes", "WardrobeItems")</li>
                    <li>@Html.ActionLink("Accessories", "Accessories", "WardrobeItems")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="backBar">
            <span><a href="#TopOfPage">Back to top</a></span>
        </div>
        <div class="row aboutT">
            <div class="container">
                <div class="footA">
                    <h3>Contact</h3>
                    <h4 class="glyphicon glyphicon-phone-alt"> (555)555-1212</h4><br /><h4 class="glyphicon glyphicon-envelope">Support@closetorganizer.com</h4>
                    <br />
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
